<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>spring boot - vue </title>
    <link href="http://localhost/static/css/app.24ad2abfb21eaa3d827dac421fa5d23a.css" rel="stylesheet" />
</head>
<body>
<div id="app">
    <script type="text/javascript" src="http://localhost/static/js/manifest.14a76fad9b304f57d579.js"></script>
    <script type="text/javascript" src="http://localhost/static/js/vendor.80a47420007ad0d4e67a.js"></script>
    <script type="text/javascript" src="http://localhost/static/js/app.6baa55fffee1650a7aee.js"></script>
</div>
</body>
</html>
